<!DOCTYPE html>
<html>
<head>
<title>Entrance Examination</title>
</head>

<body>
  <table border="0" bordercolor="grey" bgcolor="white" cellspacing="5" cellpadding="10" width="100%" height="100%">
    <thead>
    <tr>
      <td bgcolor="b5dcb3" colspan="4"><h1> Entrance Examination</h1>
      <div style="marginright:0%;">
        
          <a href="/loginform/">Login</a>
          <a href="/signupform/">Signup</a>
          <a href="/test/">Model Test</a>

        
      </div>
      </td>

    </tr> 
    </thead> 

    <tfoot>
    <tr>
      <td colspan="8" bgcolor="66ccff"><center> All right reserved to Baap!!!</br>Pulchwok Campus</br>Pulchwok, Lalitpur</center></td>
    </tr>
    </tfoot>

    <tbody height="100%" width="500%" background="/images/pattern2.gif" bgcolor="#ccc">    
      <div >
        <tr>
          <td>
        <ul>
        <li>HOME</li>
        <li>COURSES</li>
        <li>FACULTY</li>
        <li>ABOUT US</li>
          </td>
      </tr>
      </div>

<tr>
<!-- <div style="color:0000FF">-->
  <td bgcolor="#aaa" width="50" height="10cm">
    <b>List of subjects</b></br>
    <div style="color:BLUE">
      <ol type="square">
        <li> Physics</li>
        <li> English</li>
        <li> Mathmatics</li>
        <li> Chemistry</li>
      </ol>
    </div>
  </td>

  <td bgcolor="#eee" width="50%" height="200%">
    <form>
      <p>Select Your Weak Subject</p>
      <input type="radio" name="subject" value="Physics">Physics
      <input type="radio" name="subject" value="English">English
      <input type="radio" name="subject" value="Mathmatics">Mathmatics
      <input type="radio" name="subject" value="Chemistry">Chemistry
    </form> 
  </td>

  <td bgcolor="99ccff" width="30%" height="200%">
    <div style="color:red"
      <body alink="#54A250" link="#040404" vlink="#F40633">
<       p> Click this link!!</p>
        <a href="www.entrance-exam.com.np" target="_blank">www.entrance-exam.com.np</a>/
      </body>
    </div>
  </td>
  


<tr>
  <td bg color="448833" height="50%" width="50%">
     <form>
      <select name ="dropdown">
      <option value="COURSES" selected>COURSES</option>
      <option value="Physics">Physics</option>
      <option value="English">English</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Chemistry">Chemistry</option>
    </form>  
  </td>
   <td bgcolor="#aaa" width="20%">
      <b>Main Menu</b><br />
      HTML<br />
      PHP<br />
      PERL...
    </td>
    <td bgcolor="#b5dcb3" height="200" width="60%">
        Technical and Managerial Tutorials
    </td>
    <td bgcolor="#aaa" width="20%">
      <b>Right Menu</b><br />
      HTML<br />
      PHP<br />
      PERL...
    </td>
</tr>

<tr>
  <td bgcolor="9900ff" height="50%" width="50%" >
   <form>
   <input type="file" name="fileupload" accept="image/*" />
   </form>
  </td>
   <td bgcolor="#aaa" width="20%">
      <b>Main Menu</b><br />
      HTML<br />
      PHP<br />
      PERL...
    </td>
    <td bgcolor="#b5dcb3" height="200" width="60%">
        Technical and Managerial Tutorials
    </td>
    <td bgcolor="#aaa" width="20%">
      <b>Right Menu</b><br />
      HTML<br />
      PHP<br />
      PERL...
    </td>
</tr>

</tbody>
</table>
</body>
</html>